.header{
    background-color: #01497c;
}
.header  .nav-bar  a {
    color: white;
    text-decoration: none;
}
.header  .nav-bar  a:hover {
    color: black;
    text-decoration: solid;
}
.searching{
    border: 1px solid transparent; 
    height: auto;
    background: radial-gradient(circle, rgba(1,73,124,1) 0%, rgba(42,111,151,1) 100%);
    
}
/* details.html */

#details{
    max-width:100%;
}




